security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Usuario
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                default_target_path: app_home
            logout:
                path: app_logout
                # Redirige a la página principal al cerrar sesión
                target: app_home

    access_control:
        # Páginas públicas (Cualquiera puede verlas)
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }

        # Páginas protegidas (Solo usuarios logueados)
        - { path: ^/ranking, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/peli/\d+, roles: IS_AUTHENTICATED_FULLY }

        # Panel de administración (Solo ADMIN)
        - { path: ^/admin, roles: ROLE_ADMIN }
