{% extends 'base.html.twig' %}

{% block title %}Edit Pelicula{% endblock %}

{% block body %}
    <h1>Edit Pelicula</h1>

    {{ include('admin_pelicula/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_pelicula_index') }}">back to list</a>

    {{ include('admin_pelicula/_delete_form.html.twig') }}
{% endblock %}
