{% extends 'base.html.twig' %}

{% block title %}Nuevo Ranking{% endblock %}

{% block body %}
    <div class="container" style="margin: 20px;">
        <h1>Crear nuevo Ranking</h1>

        {# Esto pinta el formulario automáticamente #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Guardar</button>
        {{ form_end(form) }}

        <br>
        <a href="{{ path('app_ranking_index') }}">Volver a la lista</a>
    </div>
{% endblock %}
